:root {
    --btnColor: #33C8DE;
    --backHead: #91DEE8;
    --grayOpacy: #e1e1e1;
    --colorText: #666666;
    --black: #33302F;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**********************************
*            GLOBAL               *
**********************************/
img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

a:hover {
    text-decoration: none;
}

.text-center {
    text-align: center;
}
body {
    font-size: 1.6rem;
    line-height: 2;
}
/**********************************
*          CONTAINER              *
**********************************/
div.vistas {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
div.vista-previa-gral {
    animation-delay: -5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    height: 30rem;
    padding: 1rem 1rem;
    width: 50rem;
}
div.vista-previa-1 {
    animation-name: v-previa;
    background: url("../img/vista-previa/muestra1/img-001.PNG") no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes v-previa {
    0% {background: url("../img/vista-previa/muestra1/img-001.PNG") no-repeat;
        background-size: 100% 100%;}
    30% {background: url("../img/vista-previa/muestra1/img-002.PNG") no-repeat;
        background-size: 100% 100%;}
    60% {background: url("../img/vista-previa/muestra1/img-003.PNG") no-repeat;
        background-size: 100% 100%;}
    100% {background: url("../img/vista-previa/muestra1/img-001.PNG") no-repeat;
        background-size: 100% 100%;}
}

div.vista-previa-2 {
    animation-name: v-previa2;
    background: url("../img/vista-previa/muestra2/img-001.PNG") no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes v-previa2 {
    0% {background: url("../img/vista-previa/muestra2/img-001.PNG") no-repeat;
        background-size: 100% 100%;}
    30% {background: url("../img/vista-previa/muestra2/img-002.PNG") no-repeat;
        background-size: 100% 100%;}
    60% {background: url("../img/vista-previa/muestra2/img-003.PNG") no-repeat;
        background-size: 100% 100%;}
    100% {background: url("../img/vista-previa/muestra2/img-001.PNG") no-repeat;
        background-size: 100% 100%;}
}

